/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #b2ebf2, #80deea, #4dd0e1, #26c6da);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.content-container {
  display: flex;

  justify-content: center;
  min-height: 100vh;
  z-index: 1;
}

.icon-container {
  position: absolute;
  font-size: 48px;
  color: white;
}

/* Container */
.container-todo-list {
  width: 100%;
  max-width: 550px;

  padding: 20px;
  z-index: 1;
}

/* Header */
.header-todo-list {
  text-align: center;
  margin-bottom: 20px;
}

.header-todo-list h1 {
  font-size: 24px;
  font-weight: bold;
  color: #1a237e;
}

/* Input Section */
.todo-list-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

#btn-add-todo {
  background-color: #1a237e;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-add-todo:hover {
  background-color: #45a049;
}

#error {
  color: red;
  font-size: 14px;
  text-align: center;
}

/* Todo List */
#list {
  margin-top: 20px;
  height: 400px;
  width: 500px;
  overflow-y: auto;
}

.list-text {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.wrapper-icons {
  margin-right: 2px;
  font-size: 20px;
}
.list-text-done {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #dcedc8;
  color: green;
}
